<div class="form-page">
<div class="row">
	<div class="small-12 medium-6 large-5 column small-centered">
		<div class="panel">

		<div class="title">
          <h1><%= t("confirmation.title") %></h1>
        </div>

		<%= form_for(resource, as: resource_name,
			url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
			<%= devise_error_messages! %>

		    <%= f.email_field :email, autofocus: true,
		    	value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>

			<%= f.submit t('confirmation.resend_instructions'),
				class: 'button round expand button-secondary' %>
		<% end %>
		</div>
	</div>
</div>
</div>

<%= render "users/shared/links" %>
