<% locals = { attribute: attribute, related: related, attribute_id: attribute_id } %>

<%= render partial: 'admin/templates/modals/belongs_to', locals: locals %>

<div class="form-group" id="<%= attribute_id %>_li">
  <%= build_label_text_for_belongs_to(related, html_options, options) %>
  <%= form.select related_fk, values, options, html_options %>
</div>
