<% html_options = { class: 'control-label' } %>

<div class="form-group" id="<%= attribute_id %>">
  <div class="controls">
    <%= form.datetime_select attribute, options, html_options %>
  </div>
</div>
