<%
  custom = { :rows => @resource.typus_options_for(:form_rows) }
  options = options.merge!(custom)
%>

<div class="form-group" id="<%= attribute_id %>">
  <div class="controls">
    <%= form.text_area attribute, options %>
  </div>
</div>
