<%
  unless @item.new_record?
    text = link_to(t('typus.buttons.preview'), send("#{@item.class.model_name.downcase}_path",@item.to_param), :target => "_blank")
    label_text << "<small>#{text}</small>"
  end
%>

<li id="<%= attribute_id %>">
  <%= form.text_field attribute, options %>
</li>
