<% content_for :javascripts do %>
  <script type="text/javascript">
    var CKEDITOR_BASEPATH = '/assets/ckeditor/';
  </script>

  <%= javascript_include_tag 'ckeditor/ckeditor' %>
  <%= javascript_include_tag 'ckeditor/adapters/jquery' %>

  <script type="text/javascript">
    $(document).ready(function() {
      $(".rich_text").ckeditor();
    });
  </script>
<% end %>

<%
  custom = { :rows => @resource.typus_options_for(:form_rows), :class => "rich_text" }
  options = options.merge!(custom)
%>

<li id="<%= attribute_id %>">
  <%= form.text_area attribute, options %>
</li>
