<div class="alert-box radius success">
  <h3><%= t("dashboard.listings.empty.title") %></h3>
  <p><%= t("dashboard.listings.empty.add_one") %></p>
</div>

<%= link_to t("dashboard.listings.new_item"), new_listing_path, class: 'button round secundary' %>
