<li>
  <%= link_to listing_path(model) do %>
    <div class="card-product">
        <div class="product">
          <%= image_tag image_path(image_data.id) %>
          <div class="gradient"></div>
        </div>
    </div>
  <% end %>
  <div class="caption">
    <%= link_to listing_path(model) do %>
      <span class="product-name"><%= name %></span>
    <% end %>
    <p class="price">
      <%= t('listings.show.daily_price', price: number_to_currency(model.daily_price) ) %>&nbsp;|&nbsp;
      <%= t('listings.show.weekly_price', price: number_to_currency(model.weekly_price) ) %>
    </p>
    <%= link_to edit_listing_path(model), class: "button round small" do %>
      <i class="fa fa-pencil"></i>
      <%= t("dashboard.edit_product") %>
    <% end %>
    <%= link_to listing_path(model), {:class => "button round small alert", :method => :delete, "data-confirm" => t("listings.destroy_confirmation")} do %>
      <i class="fa fa-trash"></i>
      <%= t("dashboard.delete_product") %>
    <% end %>
  </div>
</li>
