<%= t ('mailers.notification_mailer.new_notification_title') %> <%= @notification.subject.html_safe? ? @notification.subject : strip_tags(@notification.subject) %>
===============================================

<%= t ('mailers.notification_mailer.new_notification_text') %>

-----------------------------------------------
<%= @notification.body.html_safe? ? @notification.body : strip_tags(@notification.body) %>
-----------------------------------------------

<%= t ('mailers.notification_mailer.visit') %> <%= dashboard_url %>.
