<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <%
    reservation = @notification.sender
    if reservation.pending?
      if @receiver
    elsif reservation.accepted?
    elsif reservation.rejected?
    elsif reservation.paid?
    else
    end
  %>
  <% debugger %>
    <h1><%= t ('mailers.notification_mailer.new_notification_title') %>&nbsp;<%= @notification.subject.html_safe? ? @notification.subject : strip_tags(@notification.subject) %></h1>
    <p>
      <%= t ('mailers.notification_mailer.new_notification_text') %>
    </p>
    <blockquote>
      <p>
        <%= raw @notification.body %>
      </p>
    </blockquote>
    <p>
      <%= t ('mailers.notification_mailer.visit') %>&nbsp;<%= link_to dashboard_url, dashboard_url %>.
    </p>
  </body>
</html>
