<div class="row dashboard">
	<div class="small-12 medium-3 text-center column">
		<%= cell('dashboard/sidebar', @user) %>
	</div>

	<div class="small-12 medium-6 column">
		<h2><%= t('dashboard.rentals.title') %></h2>
		<%= cell('dashboard/waiting_reservation', collection: @waiting_reservations, current_user: current_user) %>
		<h2><%= t("dashboard.reservations.title") %></h2>
		<% if @reservations.any? %>
			<%= cell('dashboard/reservations', collection: @reservations) %>
		<% else %>
			<%= cell('dashboard/reservations').(:empty) %>
		<% end %>
	</div>

	<div class="small-12 medium-3 column">
		<h2><%= t("dashboard.listings.title") %></h2>
		<% if @listings.any? %>
			<ul class="dashboard-items">
				<%= cell('dashboard/listings', collection: @listings) %>
			</ul>
		<% else %>
			<%= cell('dashboard/listings').(:empty) %>
		<% end %>
	</div>
</div>