<div class="inbox row">
  <div class="small-12 column">
    <h1><%= t("inbox.title") %></h1>

    <!-- Si no hay mensajes -->
    <div class="alert-box radius info">
      <p><%= t("inbox.no_messages")%> </p>
    </div>
    <!-- /. Si no hay mensajes -->

    <!-- each message do -->
    <div class="row message">
      <div class="small-12 medium-3 columns">
        <img src="http://localhost:3000/assets/avatar_example.jpg" width="60" height="60">
          <div class="message-info">
            <p class="user">Alvaro Durán</p>
            <p class="time">3 hours ago</p>
          </div>
      </div>

      <div class="small-12 medium-9 columns summary">
        <%= link_to "Reserva Bici Scott", "/contents/message", class: "title" %>
        <p>Alvaro Durán quiere reservar tu artículo...</p>
      </div>
    </div>
    <!-- /. each message do -->

    <!-- DELETE ME / CONTENT EXAMPLE -->
    <div class="row message">
      <div class="small-12 medium-3 columns">
        <img src="http://localhost:3000/assets/avatar_example.jpg" width="60" height="60">
          <div class="message-info">
            <p class="user">Alberto García</p>
            <p class="time">2 days ago</p>
          </div>
      </div>

      <div class="small-12 medium-9 columns summary">
        <%= link_to "Título del mensaje", "/contents/message", class: "title" %>
        <p>Resumen del mensaje con un truncate?</p>
      </div>
    </div>

    <div class="row message">
      <div class="small-12 medium-3 columns">
        <img src="http://localhost:3000/assets/avatar_example.jpg" width="60" height="60">
          <div class="message-info">
            <p class="user">Megan Fox</p>
            <p class="time">1 week ago</p>
          </div>
      </div>

      <div class="small-12 medium-9 columns summary">
        <%= link_to "Otro mensaje más", "/contents/message", class: "title" %>
        <p>Resumen del mensaje corto</p>
      </div>
    </div>
    <!-- /. DELETE ME / CONTENT EXAMPLE -->
  </div>
</div>
