<div class="inbox row">
  <div class="small-12 column">
    <h1><%= link_to t("inbox.title"), "/contents/inbox" %></h1>

    <!-- Título del mensaje -->
    <h2>Reserva Bici Scott</h2>
    <!-- /. Título del mensaje -->


    <form>
      <label><%= t("inbox.to") %> Alvaro</label>
      <textarea></textarea>
      <input type="submit" value="<%= t("inbox.submit") %>" class="button round">
    </form>

    <!-- each reply do -->
    <div class="row">
      <div class="small-12 columns">
        <div class="avatar-right">
          <img src="http://localhost:3000/assets/avatar_example.jpg" width="60" height="60">
        </div>
        <div class="conversation-container">
          <div class="conversation-info">
            <p class="user time-ago-right">
              Alberto García
              <span class="time">1 hour ago</span>
            </p>
            <div class="message-content bubble-arrow-right">
              <p>
                Esto seria un mensaje normal y corriente sin más :)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /. each reply do -->

    <!-- each reply success do -->
    <div class="row">
      <div class="small-12 columns">
        <div class="avatar-right">
          <img src="http://localhost:3000/assets/avatar_example.jpg" width="60" height="60">
        </div>
        <div class="conversation-container">
          <div class="conversation-info">
            <p class="user time-ago-right">
              Alberto García
              <span class="time">1 hour ago</span>
            </p>
            <div class="message-content bubble-arrow-right bubble-success">
              <p>
                Congrats! <strong>Alberto García</strong> has accepted your reserve :)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /. each reply success do -->

    <!-- each reply rejected do -->
    <div class="row">
      <div class="small-12 columns">
        <div class="avatar-right">
          <img src="http://localhost:3000/assets/avatar_example.jpg" width="60" height="60">
        </div>
        <div class="conversation-container">
          <div class="conversation-info">
            <p class="user time-ago-right">
              Alberto García
              <span class="time">1 hour ago</span>
            </p>
            <div class="message-content bubble-arrow-right bubble-alert">
              <p>
                Sorry, <strong>Alberto García</strong> has rejected your reserve :(
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /. each reply rejected do -->

    <!-- each message do -->
    <div class="row">
      <div class="small-12 columns">
        <div class="avatar-left">
          <img src="http://localhost:3000/assets/avatar_example.jpg" width="60" height="60">
        </div>
        <div class="conversation-container">
          <div class="conversation-info">
            <p class="user time-ago-left">
              Alvaro Durán
              <span class="time">3 hours ago</span>
            </p>
            <div class="message-content bubble-arrow-left">
              <p>
                <strong>Alvaro Durán</strong> wants to reserve your article <strong>Bici Scott</strong>
                from <strong>11/03/2015</strong> to <strong>11/07/2015</strong>
                <a href="#" class="discard">discard</a> or <a href="#">Accept reservation</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /. each message do -->

  </div>
</div>
