<%= form_for listing do |f| %>

	<%= f.text_field :name, label: t("listings.new.title"), placeholder: t("listings.new.title_placeholder") %>
	<%= f.text_area :description, rows: 4, placeholder: t("listings.new.description_placeholder") %>

	<%= f.hidden_field :lat, :"data-geo" => :lat %>
	<%= f.hidden_field :lng, :"data-geo" => :lng %>

	<%= f.text_field :address, placeholder: t("listings.new.location_placeholder") %>

	<%= f.fields_for :image_data, listing.image_data do |image_data| %>
		<% options = {label: t("listings.new.choose_image"),
			label_options: {class: 'hint' } } -%>
		<% options[:class] = 'error' if listing.image_data.errors.any? -%>

		<%= image_data.file_field :raw_data, {options: options} %>
		<% if listing.image_data.errors.any? %>
			<p><%= t("listings.new.invalid_image") %></p>
		<% end %>
	<% end %>

	<% if listing.image_data.present? && listing.image_data.persisted? && listing.image_data.data.present? %>
		<div class="row">
			<div class="small-12 columns">
				<%= image_tag image_path(listing.image_data), width: '200px' %>
			</div>
		</div>
	<% end %>

	<div class="small-12 medium-4 large-2">
		<%= f.number_field :daily_price, step: 'any', label: t("listings.new.cost_per_day"), placeholder: t("listings.new.euro") %>
	</div>
	<div class="small-12 medium-4 large-2">
		<%= f.number_field :weekly_price, step: 'any', label: t("listings.new.cost_per_week"), placeholder: t("listings.new.euro")  %>
	</div>
	<%= f.submit t("listings.new.submit"), class: "button round" %>
<% end %>

<script>
	jQuery(document).ready(function($){
		$("#listing_address").geocomplete({
			details: 'form',
			detailsAttribute: 'data-geo'
		});
	});
</script>