<p><%= t("listings.new.tips_text") %><br>
<%= t("listings.new.tips_text2") %><br>
<%= t("listings.new.tips_text3") %><br>
<%= t("listings.new.tips_text4") %><br>
<%= t("listings.new.tips_text5") %><br>
<%= t("listings.new.tips_text6") %><br>
<%= t("listings.new.tips_text7") %><br>
<%= t("listings.new.tips_text8") %></p>