<script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

<div class="row listing">
	<div class="small-12 medium-8 column">
		<h2><%= t('listings.new_item') %></h2>
		<%= render partial: "form", locals: {listing: @listing} %>
	</div>
	<div class="small-12 medium-4 column info">
		<%= render "sidebar" %>
	</div>
</div>
