<script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

<div class="row-full listing-image" style="background: url('<%= image_path(@listing.image_data) %>') 50% 0% / cover no-repeat;">
	<div class="row">
		<div class="listing-info">
			<h1><%= @listing.name %></h1>
			<h3><%= @listing.user.name %></h3>
			<p>
				<span><%= t("listings.show.daily_price", price: number_to_currency(@listing.daily_price)) %></span>
				<span><%= t("listings.show.weekly_price", price: number_to_currency(@listing.weekly_price)) %></span>
			</p>
		</div>
	</div>
</div>

<div class="row listing listing-show">
	<div class="small-12 medium-7 column">
		<h2><%= t("listings.show.description") %></h2>
		<p>
			<% @listing.description.split("\n").each do |token| %>
				<%= token %>
				<br>
			<% end %>
		</p>
		<h2><%= t("listings.show.photo") %></h2>
		<a href="#" data-reveal-id="photoModal" class="open-first"><%= image_tag image_path(@listing.image_data), width: "200" %></a>
	</div>

	<div id="photoModal" class="reveal-modal text-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <%= image_tag image_path(@listing.image_data) %>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>

	<div class="small-12 medium-5 column">
			<% if (user_signed_in? && @listing.user_id != current_user.id) %>
				<h2><%= t("listings.show.request") %></h2>
				<%= form_for @reservation do |f| %>
					<%= f.text_field :start_date, required: true, label: t("listings.show.pickup"), class: 'pick-date', placeholder: t("search.pickup"), date_picker_type: 'from',
						value: @reservation.start_date.try(:strftime, '%d/%m/%Y') %>
					<%= f.text_field :end_date, required: true, label: t("listings.show.dropoff"), class: 'pick-date', placeholder: t("search.dropoff"), date_picker_type: 'to',
						value: @reservation.end_date.try(:strftime, '%d/%m/%Y') %>
					<%= f.hidden_field :listing_id %>
					<%= f.submit class: "button round", value: t('listings.show.submit') %>
				<% end %>
			<% elsif !user_signed_in? %>
				<%= link_to t('listings.show.submit_no_user'), new_user_registration_path, class: "button round" %>
			<% end %>
		<h2><%= t("listings.show.map") %></h2>
		<div id="map">
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
	    // $('a.open-first').hover(function(){
	    //     $('#photoModal').foundation('reveal', 'open');
	    // });

	    $("#new_reservation").on('submit', function(){
	    	if($(this).find('#reservation_start_date').val() == ''){
	    		$(this).find('#reservation_start_date').focus();
	    	}else if($(this).find('#reservation_end_date').val() == ''){
	    		$(this).find('#reservation_end_date').focus();
	    	}
	    });
	});

	var position = {lat: <%= @listing.lat %>, lng: <%= @listing.lng %>};
	var map = new google.maps.Map(document.getElementById('map'), {
		center: position,
		scrollwheel: true,
		zoom: 14
	});

	var marker = new google.maps.Marker({
	    map: map,
	    position: position,
	    title: '<%= @listing.name %>'
	  });
</script>
