<div class="row">
	<div class="small-12 columns">
		<div class="avatar-right">
			<img src="http://localhost:3000/assets/avatar_example.jpg" width="60" height="60">
		</div>
		<div class="conversation-container">
			<div class="conversation-info">
				<p class="user time-ago-right">
					<span class="time"><%= time_ago %></span>
				</p>
				<div class="message-content bubble-arrow-right bubble-success">
					<p>
						<%= t("reservation_message.accepted_creator",
							:user => content_tag(:strong, owner_name)) %>
					</p>
					<p>
						<%= t("reservation.accepted.pay", pay_link: pay_link) %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>