<div class="row">
	<div class="small-12 columns">
		<div class="avatar-left">
			<img src="http://localhost:3000/assets/avatar_example.jpg" width="60" height="60">
		</div>
		<div class="conversation-container">
			<div class="conversation-info">
				<p class="user time-ago-left">
					<span class="time"><%= time_ago %></span>
				</p>
				<div class="message-content bubble-arrow-left">
					<p>
						<%= t("reservation_message.pending_creator",
							user: content_tag(:strong, owner_name),
							item: content_tag(:strong,
								link_to(listing.name, listing_path(listing))),
							from: content_tag(:strong, l(start_date)),
							to: content_tag(:strong, l(end_date))) %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>