<p><%= t('mailers.confirmation_instructions.hello', email: @email) %></p>

<p><%= t('mailers.confirmation_instructions.confirm') %></p>

<p><%= link_to t('mailers.confirmation_instructions.confirm_link'), confirmation_url(@resource, confirmation_token: @token) %></p>
