<p><%= t('mailers.unlock_instructions.hello', email: @resource.email) %></p>

<p><%= t('mailers.unlock_instructions.locked') %></p>

<p><%= t('mailers.unlock_instructions.unlock') %></p>

<p><%= link_to t('mailers.unlock_instructions.unlock_link'), unlock_url(@resource, unlock_token: @token) %></p>
