<div class="inbox row">
  <div class="small-12 column">
    <h1><%= t("inbox.title") %></h1>

    <% if @conversations.empty? %>

    <div class="alert-box radius info">
      <p><%= t("inbox.no_messages")%> </p>
    </div>

    <% else %>
      <%= cell('conversation', collection: @conversations, current_user: current_user) %>

      <%= paginate @conversations %>
    <% end %>
  </div>
</div>
