<div class="inbox row">
  <div class="small-12 column">
    <h1><%= link_to t("inbox.title"), conversations_path %></h1>

    <div>
      <h5><%= @conversation.reservation.listing.name %></h5>
      <div>
        <%= image_tag image_path(@conversation.reservation.listing.image_data), style: 'max-width: 200px' %>
      </div>
      <h6><%= l @conversation.reservation.start_date, format: :long %> - 
      <%= l @conversation.reservation.end_date, format: :long %></h6>
    </div>

    <%= form_tag reply_conversation_path(@conversation) do %>
      <textarea placeholder="..." required name="body"></textarea>
      <input type="submit" value="<%= t("inbox.submit") %>" class="button round">
    <% end %>

    <%= cell('message', collection: @conversation.messages.order("id DESC"), current_user: current_user) %>
  </div>
</div>
