<p><%= I18n.t("mailers.user_notifier.listing_created.phrase_1") %></p>
<p><%= raw(I18n.t("mailers.user_notifier.listing_created.phrase_2",
	link: link_to(t('global.click_here'), listing_url(@listing)))) %></p>