<div class="form-page">
    <div class="row">
        <div class="small-12 medium-6 large-5 column small-centered">
            <div class="panel">

                <div class="title">
                    <h1><%= t("change_password.title") %></h1>
                </div>

                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                    <%= devise_error_messages! %>
                    <%= f.hidden_field :reset_password_token %>

                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                    <% end %>
                    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>

                    <%= f.password_field :password_confirmation, autocomplete: "off" %>

                    <%= f.submit t("change_password.submit") %>
                <% end %>
            </div>
        </div>
    </div>
</div>
