<div class="form-page">
	<div class="row">
		<div class="small-12 medium-6 large-5 column small-centered">
			<div class="panel">

				<div class="title">
					<h1><%= t("password.title") %></h1>
					<h2><%= t("password.info") %></h2>
				</div>

				<%= form_for(resource, as: resource_name,
					url: password_path(resource_name), html: { method: :post }) do |f| %>
					<%= devise_error_messages! %>

					<%= f.email_field :email, autofocus: true %>

					<%= f.submit t("password.submit") %>
				<% end %>
			</div>
		</div>
	</div>
</div>
