<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t ('mailers.message_mailer.new_reply_title') %>&nbsp;<%= @subject %></h1>
    <p>
      <%= t ('mailers.message_mailer.new_reply_text') %>
    </p>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      <%= t ('mailers.message_mailer.visit') %>&nbsp;<%= link_to conversation_url(@message.conversation), conversation_url(@message.conversation) %>.
    </p>
  </body>
</html>
