<%= t ('mailers.message_mailer.new_reply_title') %> <%= @subject %>
===============================================

 <%= t ('mailers.message_mailer.new_reply_text') %>

-----------------------------------------------
<%= @message.body.html_safe? ? @message.body : strip_tags(@message.body) %>
-----------------------------------------------

<%= t ('mailers.message_mailer.visit') %> <%= conversation_url(@message.conversation) %>.
