<div class="row">
	<div class="small-12 columns">
		<div class="avatar-right">
			<!-- <img src="http://localhost:3000/assets/avatar_example.jpg" width="60" height="60"> -->
			<%= image_tag avatar_url(sender), size: '60x60', class: 'circle' %>

		</div>
		<div class="conversation-container">
			<div class="conversation-info">
				<p class="user time-ago-right">
					<%= sender_name %>
					<span class="time"><%= time_ago %></span>
				</p>
				<div class="message-content bubble-arrow-right">
					<p>
						<%= body %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>