<div class="row pages margin-top">
	<div class="small-12 medium-9 small-centered column">

    <h1><%= t('pages.how_it_works.title') %></h1>

    <div class="flex-video" hidden>
  			<iframe width="640" height="360"
  			src="https://www.youtube.com/embed/u9BExqUqYak?rel=0"
  			frameborder="0" allowfullscreen></iframe>
		</div>

		<%= image_tag 'How_it_works.png' %>
	</div>
</div>