<div class="row pages margin-top">
	<div class="small-12 medium-9 small-centered column">

    <h2><center><%= t('pages.promotion_fb.title') %></center></h2>

    <div class="flex-video" hidden>
  			<iframe width="640" height="360"
  			src="https://www.youtube.com/embed/u9BExqUqYak?rel=0"
  			frameborder="0" allowfullscreen></iframe>
		</div>
		<div>
		<h3><center><%= t('pages.promotion_fb.text') %></center></h3>
		<%= image_tag 'promotion_fb.jpg' %>
		</div>
		<br>
		<center class="button round expand button-secondary"><h3 style="font-family:verdana; font-size:140%; color:white"><%= link_to t("header.sign_up_now"), new_user_registration_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %></h3></center>
		
	</div>
    
</div>

<!-- Facebook Conversion Code for Wavyy - Checkout -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6045169249551', {'value':'0.00','currency':'EUR'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6045169249551&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>