<div class="form-page">
  <div class="row">
    <div class="small-12 medium-6 large-5 column small-centered">
      <div class="panel">

        <div class="title">
          <h1><%= t("sign_in.title") %></h1>
          <h2><%= t("sign_in.info") %></h2>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <%= f.email_field :email, autofocus: true, placeholder: true %>

          <%= link_to t("sign_in.password_forgotten"), new_user_password_path, class: "right forgotten" %>
          <%= f.password_field :password, autocomplete: "off", placeholder: true %>

          <%= f.submit t("sign_in.submit"), class: 'button round expand' %>
          <p class="text-center"><%= t("sign_in.or") %></p>
          <%= link_to t("sign_in.facebook"), user_omniauth_authorize_path(provider: 'facebook'), class: "button round expand button-facebook" %>
        <% end %>

        <div class="extra text-center">
          <%= t("sign_in.new",
            sign_up: link_to( t("sign_in.sign_up"), new_user_registration_path)).html_safe %>

          <br /><br />
          <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
