<div class="row">
	<div class="small-12 columns">
		<div class="avatar-right">
			<img src="http://localhost:3000/assets/avatar_example.jpg" width="60" height="60">
		</div>
		<div class="conversation-container">
			<div class="conversation-info">
				<p class="user time-ago-right">
					Alberto García
					<span class="time">1 hour ago</span>
				</p>
				<div class="message-content bubble-arrow-right bubble-alert">
					<p>
						Sorry, <strong>Alberto García</strong> has rejected your reserve :(
					</p>
				</div>
			</div>
		</div>
	</div>
</div>