<div class="row pages margin-top">
	<div class="small-12 columns">
		<div class="alert-box error" id="card-error-message" style="display: none;">
		</div>

		<h1><%= t("payment.summary") %></h1>

		<div class="small-12 medium-6 large-3 column">
			<%= image_tag image_path(@reservation.listing.image_data) %>
		</div>

		<div class="small-12 medium-6 column">
			<h3><%= t("payment.amount") %>&nbsp;<%= number_to_currency @reservation.amount %></h3>

			<p><strong><%= t("payment.date") %></strong>&nbsp;(<%= l @reservation.start_date %> -
			<%= l @reservation.end_date %>)</p>
		</div>

		<div class="small-12 column">
			<hr>

		<%= form_for :card, html: {id: 'new_card'}, url: payments_path do |f| %>
			<% @card.errors[:base].each do |error| %>
				<small class="error"><%= error %></small>
			<% end %>
			<%= hidden_field_tag :reservation_id, @reservation.id %>

			<h2><%= t("payment.title") %></h2>

			<div class="small-12 medium-6 column">
				<%= f.text_field :number, required: true %>

				<div class="small-12 medium-3 column">
					<%= f.text_field :cvv, required: true %>
				</div>

				<div class="small-12 medium-9 column">
					<%= label_tag :expiration_date, t('payment.expiration'), class: "margin-bottom-2" %>
					<div class="small-6 medium-3 inline-block">
						<%= f.select :expiration_month,
							options_for_select((1..12).map{|i| i > 9 ? i : "0#{i}"}),
							label: false %>
					</div>
					<div class="small-6 medium-3 inline-block">
						<%= f.select :expiration_year,
							options_for_select((Date.today.year..(Date.today.year + 10))),
							label: false %>
					</div>
				</div>

				<br>
				<%= f.submit t('payment.submit'), class: 'button radius expand' %>
			</div>

		<% end %>
	</div>
</div>

<script>
	jQuery(document).ready(function($){
		// var texts = {
		// 	CARD_NUMBER_FORMAT_ERROR: '<%= t("payment_errors.card_number_format_error") %>',
		// 	EXPIRY_DATE_FORMAT_ERROR: '<%= t("payment_errors.expiry_date_format_error") %>',
		// 	CVV_FORMAT_ERROR: '<%= t("payment_errors.cvv_format_error") %>'
		// };

		// mangoPay.cardRegistration.baseURL = "https://api.sandbox.mangopay.com";
		// mangoPay.cardRegistration.clientId = '<%= MangoPay.configuration.client_id %>';

		// mangoPay.cardRegistration.init({
		//     cardRegistrationURL: '<%= @card_registration_url %>',
		//     preregistrationData: '<%= @preregistration_data %>',
		//     accessKey: '<%= @access_key %>',
		//     Id: '<%= @card_registartion_id %>'
		// });

		// $("#new_card").on('submit', function(evt){
		// 	evt.preventDefault();
		// 	evt.stopPropagation();

		// 	var cardData = {
		// 		cardNumber: $(this).find("#payment_card_number").val(),
		// 		cardExpirationDate: $(this).find("#expiration_month").val() +
		// 			$(this).find("#expiration_year").val().substr(0,2),
		// 		cardCvx: $(this).find("#payment_cvv").val(),
		// 		cardType: 'CB_VISA_MASTERCARD'
		// 	};

		// 	sendCard(cardData);

		// 	return false;
		// });

		function sendCard(data){
			mangoPay.cardRegistration.registerCard(
			    data,
			    function(res) {
			        // Success, you can use res.CardId now that points to registered card
			        console.log(res);
			        $("#card-error-message").fadeOut().html();
			    },
			    function(res) {
			        // Handle error, see res.ResultCode and res.ResultMessage
			        console.log(res.ResultMessage);
			        $("#card-error-message").fadeOut().html(texts[res.ResultMessage]).fadeIn();
			    }
			);
		}
	});
</script>