<div class="sidebar">
	<div class="big-avatar">
		<%= image_tag avatar_url(model), size: "100x100" %>
	</div>

	<p class="name"><%= name %></p>
	<p class="email"><%= email %></p>
	<p class="address"><%= address %></p>

  <%= link_to t("dashboard.messages"), conversations_path, class: "button round" %>

  <%= link_to t("dashboard.edit_profile"), edit_user_registration_path, class: "button round secondary" %>
</div>