<script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

<div class="row">
  <div class="small-12 column">

    <%= form_for :search, {url: searches_path, html: {class: 'search-form'}, method: :get} do |f| %>
      <%= f.hidden_field :lat, :"data-geo" => :lat %>
      <%= f.hidden_field :lng, :"data-geo" => :lng %>
      <%= f.hidden_field :formatted_address %>

      <div class="small-12 medium-3 left">
        <%= f.text_field :q, label: false, placeholder: t("search.what") %>
      </div>

      <div class="small-12 medium-3 left">
        <%= f.text_field :address, label: false, placeholder: t("search.where") %>
      </div>

      <div class="small-12 medium-2 left relative">
        <%= f.text_field :start_date,
          date_picker_type: 'from',
          label: false, class: "textbox-n pick-date",
          placeholder: t("search.pickup") %>
      </div>

      <div class="small-12 medium-2 left relative">
        <%= f.text_field :end_date,
          date_picker_type: 'to',
          label: false, class: "textbox-n pick-date",
          placeholder: t("search.dropoff") %>
      </div>

      <div class="small-12 medium-2 left">
        <%= f.submit t("search.submit"), class: "button radius expand button-search" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  jQuery(document).ready(function($){
    $('#search_address').geocomplete({
      details: '.search-form',
      detailsAttribute: 'data-geo'
    });
  });
</script>