<div class="homepage">

  <div class="row">
    <div class="small-12 column text-center">
      <h1 style="font-family:verdana; font-size:300%; color:white"><%= t('homepage.title') %></h1>
      <h3 style="font-family:verdana; font-size:140%; color:white"><%= t('homepage.intro') %></h3>
    </div>
  </div>

  <%= render 'search_form' %>

  <div class="row">
    <div class="small-12 text-center">
      <h3 style="font-family:verdana; font-size:140%; color:white"><%= link_to t("header.sign_up_now"), new_user_registration_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %></h3>
    </div>
  </div>
</div>
  
  <div class="row">
    <div class="small-12 text-center" hidden>
      <a href="#" data-reveal-id="videoModal" class="how-it-works open-first"><%= t('homepage.how_it_works') %></a>
    </div>
  </div>
</div>


<div id="videoModal" class="reveal-modal text-center small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <iframe width="640" height="360" src="https://www.youtube.com/embed/u9BExqUqYak?rel=0" frameborder="0" allowfullscreen></iframe>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<script>
  $(document).ready(function(){
      $('a.open-first').hover(function(){
          $('#videoModal').foundation('reveal', 'open');
      });
  });
</script>