// Table of Contents
//
// 01. Variables
// 02. Mixins
// 03. Global styles
// 04. Header
// 05. Footer
// 06. Homepage
// 07. Sing in & Sign up
// 08. Alerts
// 09. Search results
// 10. Listing
// 11. Dashboard
// 12. Messages
//

// 01. Variables
// - - - - - - - - - - - - - - - - - - - - - - - - -

@import "variables";


// 02. Mixins
// - - - - - - - - - - - - - - - - - - - - - - - - -


// 03. Global styles
// - - - - - - - - - - - - - - - - - - - - - - - - -

.relative {
  position: relative;
}

.logo {
  font-family: 'Arvo';
  font-weight: normal;
}

.row-full {
  max-width: 100% !important;
}

.row {
  max-width: 1170px;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}

a {
  color: $link;

  &:hover{
    color: $link-hover;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $brand;
  font-weight: bold;
}

.wrapper {
  background: $wrapper;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto rem-calc(-240);
}

.footer, .push {
  height: rem-calc(240);
}

.margin-top {
  margin-top: rem-calc(24) !important;
}

.margin-right {
  margin-right: rem-calc(24) !important;
}

.margin-bottom {
  margin-top: rem-calc(24) !important;
}

.margin-left {
  margin-left: rem-calc(24) !important;
}

.inline-block {
  display: inline-block !important;
}

.button {
  background: $brand;
  font-size: rem-calc(14);
  font-weight: bold;
  text-transform: uppercase;

  &:hover, &:focus {
    background: $brand-dark;
  }
}

.button-facebook {
  background: #3B5997;

  &:hover {
    background: #273B63;
  }
}

form {

  label {
    color: $text;
    font-size: rem-calc(14);
    font-weight: bold;
    text-transform: uppercase;

    &.margin-bottom-2 {
      margin-bottom: $line-height/2;
    }
  }

  a.forgotten {
    font-size: rem-calc(13);
  }

  em {
    color: $text-medium;
  }

  input[type="text"], input[type="password"], input[type="date"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="month"], input[type="week"],
  input[type="email"], input[type="number"],
  input[type="search"], input[type="tel"],
  input[type="time"], input[type="url"], input[type="color"] {
    border: 0;
    border-bottom: 1px solid #E7E7E7;
    box-shadow: none;
    font-size: rem-calc(18);
    height: rem-calc(48);
    line-height: rem-calc(48);
  }

  textarea {
    border: 0;
    border-bottom: 1px solid #E7E7E7;
    box-shadow: none;
    font-size: rem-calc(18);
  }
}

.pages {
  background: white;
  padding: $line-height 0;
  margin-bottom: $line-height*2;
}

// 04. Header
// - - - - - - - - - - - - - - - - - - - - - - - - -

.top-bar {
  // background: $topbar;
  background: $body;
  background-size: cover;
  background-position: 0% 60%;
  height: rem-calc(72);
  line-height: rem-calc(72);
  z-index: 2;

  .name {
    border-bottom: 1px solid $brand-dark;
    height: rem-calc(72);

    span {
      font-size: rem-calc(24);
      vertical-align: middle;
    }

    @media (min-width: $small-breakpoint) {
      border-bottom: 0;
    }
  }

  @media (min-width: $small-breakpoint) {

    .right {
      margin-right: rem-calc(24);
    }
  }

  &.expanded .toggle-topbar a {
    color: white;

    span::after {
      box-shadow: 0 0 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
    }
  }

  &.expanded, &.expanded .title-area{
    background: $brand;
  }
}

#root-index {

  @media (min-width: $small-breakpoint) {
    .top-bar {
      background:rgba(255,255,255,0.75) !important;
    }
  }

  .alert-box {
    position: absolute;
    top: 72px;
    width: 100%;
    z-index: 1;
  }
}

#listings-show {
  .alert-box {
    z-index: 12
  }
}

.top-bar-section {

  .user-avatar {

    img {
      border-radius: 40px;
      height: 40px;
      width: 40px;
    }
  }

  ul {
    border-bottom: 2px solid $brand-dark;
    text-align: center;

    @media (min-width: $small-breakpoint) {
      border-bottom: 0;
      text-align: left;
    }

    li {
      background: none;
    }
  }
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
  line-height: rem-calc(48);
  text-transform: uppercase;
  color: #000000;
  opacity: 1;

  @media (min-width: $small-breakpoint) {
    line-height: rem-calc(72);
  }

  &:hover {
    background: none;

    a {
      opacity: .5;
      transition: opacity 275ms;
    }
  }

  &.button-list {
    background: $brand;
    border-radius: rem-calc(20);
    color: white;
    display: inline;
    font-weight: bold;
    padding: rem-calc(12) rem-calc(24);

    @media (min-width: $small-breakpoint) {
      padding: rem-calc(6) rem-calc(24);
    }

    &:hover {
      background: $brand-dark;
      color: white;
      opacity: 1;
      transition: background 275ms;
    }
  }
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background: $brand;
}

.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
  background: $brand-dark;                          //#A267C2;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: $brand;
}

@media (min-width: $small-breakpoint) {

  .top-bar-section .has-dropdown > a:after {
    top: rem-calc(36);
  }
}

.top-bar-section ul li:hover:not(.has-form) > a {
  background: $brand-dark;
}

.top-bar-section ul li > a {
  font-size: rem-calc(14);
}

.top-bar .name h1 {
  line-height: rem-calc(72);
}

// 05. Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -

footer {
  background: $footer;
  color: white;
  font-size: rem-calc(12);
  height: rem-calc(240);
  padding-top: rem-calc(24);
  text-transform: uppercase;

  a {
    color: white;

    &:hover {
      color: $brand;
    }
  }

  .logo {
    color: white;
    font-size: rem-calc(24);
    text-transform: none;
  }

  h3 {
    color: white;
    font-size: rem-calc(16);
    font-weight: bold;
  }

  .copyright {
    text-transform: none;
  }

  ul {
    margin-left: 0;

    li {
      font-size: rem-calc(13);
      line-height: rem-calc(24);
      list-style-type: none;
    }
  }

}

// 06. Homepage
// - - - - - - - - - - - - - - - - - - - - - - - - -

.homepage {
  background: image-url('bg_homepage.jpg');
  background-size: cover;
  background-position: 50% 50%;
  min-height: rem-calc(800);
  margin-top: rem-calc(-72);

  h1 {
    color: white;
    font-size: rem-calc(36);
    font-weight: bold;
    margin-top: $line-height*4;

    @media (min-width: $small-breakpoint) {
      margin-top: rem-calc(180);
    }
  }

  h2 {
    color: white;
    font-size: rem-calc(16);
  }

  .search-form {
    margin-top: rem-calc(48);

    input {
      border: 0;
      border-left: 1px solid $border;
      box-shadow: none;
      height: rem-calc(48);

      &.button-search {
        border-left: 0;
      }
    }

    .button-search {
      background: $brand;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      color: white;
      text-transform: uppercase;

      &:hover {
        background: $brand-dark;
      }
    }
  }

  .how-it-works {
    color: white;
    display: inline-block;
    font-size: rem-calc(16);
    margin-bottom: rem-calc(24);
    margin-top: rem-calc(48);
    text-decoration: underline;

    @media (min-width: $small-breakpoint) {
      margin-bottom: 0;
      margin-top: rem-calc(72);
    }
  }
}
.homepage {
  .picker__holder {

    @media (min-width: $small-breakpoint) {
      left: 110px;
    }
  }

  .picker.picker--opened:before {

    @media (min-width: $small-breakpoint) {
      margin: 0 140px 0 0;
    }
  }
}

// 07. Sing in & Sign up
// - - - - - - - - - - - - - - - - - - - - - - - - -

.form-page {
  background: image-url('bg_homepage.jpg');
  background-size: cover;
  background-position: 50% 50%;
  padding: rem-calc(48) 0;
  min-height: rem-calc(800);

  .agree {
    font-size: rem-calc(13);
  }

  .panel {
    background: white;
    border: 0;
    border-radius: rem-calc(3);

    .title {
      box-shadow: 0 4px 8px #E7E7E7;
      margin: 0 rem-calc(-20) rem-calc(20);
      padding: 0 rem-calc(20) rem-calc(12);
    }

    .extra {
      box-shadow: 0 -4px 8px #E7E7E7;
      font-size: rem-calc(13);
      margin: 0 rem-calc(-20);
      padding: rem-calc(12) rem-calc(20) 0;
    }
  }

  h1 {
    color: $text;
    font-size: rem-calc(24);
    font-weight: bold;
    text-transform: uppercase;
  }

  h2 {
    color: $text-light;
    font-size: rem-calc(18);
  }

  p {
    color: $text-light;
  }
}

// 08. Alerts
// - - - - - - - - - - - - - - - - - - - - - - - - -

.alert-box {
  margin-bottom: 0;

  p {
    margin-bottom: 0;
  }

  &.success {
    background-color: $success-bg;
    border-color: $success-border;
    color: $success-color;

    h3 {
      color: $success-color;
    }
  }

  &.info {
    background-color: $info-bg;
    border-color: $info-border;
    color: $info-color;

    h3 {
      color: $info-color;
    }
  }

  &.warning {
    background-color: $warning-bg;
    border-color: $warning-border;
    color: $warning-color;

    a {
      color: $warning-color;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &.alert {
    background-color: $alert-bg;
    border-color: $alert-border;
    color: $alert-color;
  }

  .close {
    text-decoration: none !important;
  }
}

span.error, small.error {
  background: $alert-bg;
  color: $alert-color;
}

.error small.error {
  background: $alert-bg;
  color: $alert-color;
  display: inline-block;
  margin: 0 rem-calc(6);
}

label.error, label.error a {
  color: $alert-color;
}

.alert-messages {
  background-color: white;
  padding-top: rem-calc(24);
}

// 09. Search results
// - - - - - - - - - - - - - - - - - - - - - - - - -

.search-pane {
  height: 100%;
  float: left;
  margin-right: -1px;
  padding-right: 1px;
  top: rem-calc(72);
  width: 100%;

  @media (min-width: $small-breakpoint) {
    width: 50%;
  }

  #map {
    height: calc(100vh - 72px);
  }
}

.pane-content {
  float: left;
  padding: rem-calc(24);

  .button {
    height: rem-calc(48);
  }

  form input[type="text"], form input[type="password"], form input[type="date"],
  form input[type="datetime"], form input[type="datetime-local"],
  form input[type="month"], form input[type="week"], form input[type="email"],
  form input[type="number"], form input[type="search"], form input[type="tel"],
  form input[type="time"], form input[type="url"], form input[type="color"],
  form textarea {
    font-size: rem-calc(13);
  }

  h2 {
    font-size: rem-calc(24);
  }
}

.search-results {

  li {
    display: inline-block;
    list-style-type: none;

    .card-product {
      border: 5px solid white;
      box-shadow: 0 4px 5px 0 rgba(0,0,0,.1),0 2px 5px 0 transparent;
      height: 200px;
      margin: rem-calc(12) rem-calc(24) 0 0;
      overflow: hidden;
      width: 260px;

      .product-bg {
        background-size: cover;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        height: 100%;
        width: 100%;
        z-index: 1;
      }

      img {
        height: 100%;
      }

      .product {
        background: white;
        height: 100%;
        position: relative;
        text-align: center;
        width: 100%;

        .gradient {
          background: image-url('gradient.png');
          height: 190px;
          position: absolute;
          top: 0;
          width: 260px;
          z-index: 2;
        }
      }
    }

    .caption {
      bottom: rem-calc(12);
      color: white;
      left: rem-calc(12);
      position: absolute;
      text-align: left;
      z-index: 3;

      .product-name {
        display: block;
        font-weight: bold;
      }
    }
  }
}

.clear {
  clear: both;
}

// 10. Listing
// - - - - - - - - - - - - - - - - - - - - - - - - -

.listing {
  background: white;
  margin-bottom: rem-calc(48);
  margin-top: rem-calc(24);
  padding-top: rem-calc(24);

  p {
    color: $text-light;
  }

  h2 {
    font-size: rem-calc(24);
    font-weight: bold;
  }

  h3 {
    font-size: rem-calc(18);
    font-weight: bold;
  }

  .info {
    border-left: 1px solid $border;

    p {
      font-size: rem-calc(14);
    }
  }

  #map {
    height: calc(50vh - 72px);
    min-height: 300px;
  }
}

.listing-show {
  padding-bottom: rem-calc(48);

  h2 {
    text-transform: uppercase;
  }
}

.listing-image {
  height: rem-calc(300);
  position: relative;
  z-index: 1;

  @media (min-width: $small-breakpoint) {
    height: rem-calc(676);
    margin-top: rem-calc(-36);
  }

  &:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -webkit-linear-gradient(270deg, transparent 50%, rgba(0,0,0,0.9) 100%);
    background-image: linear-gradient(-180deg, transparent 50%, rgba(0,0,0,0.9) 100%);
    z-index: 90;
  }
}

.listing-info {
  bottom: 0;
  color: white;
  position: absolute;
  z-index: 95;
  left: rem-calc(12);

  @media (min-width: $medium-breakpoint) {
    left: auto;
  }

  h1, h3 {
    color: white;
  }

  span {
    display: inline-block;
    font-size: rem-calc(20);
    margin-right: rem-calc(48);
  }
}

// 11. Dashboard
// - - - - - - - - - - - - - - - - - - - - - - - - -

.circle {
  border-radius: 100px;
}

.dashboard {
  background: white;
  margin-bottom: rem-calc(48);
  margin-top: rem-calc(24);
  padding-bottom: rem-calc(24);
  padding-top: rem-calc(24);

  .big-avatar {
    img {
      @extend .circle;
      height: 100px;
      margin-bottom: rem-calc(24);
      width: 100px;
    }
  }

  h2 {
    font-size: rem-calc(24);
    font-weight: bold;
  }

  h3 {
    font-size: rem-calc(18);
    font-weight: bold;
  }

  .sidebar {
    color: $text-light;
    font-size: rem-calc(18);
  }

  .name {
    color: $brand;
    font-size: rem-calc(24);
    font-weight: bold;
    margin-bottom: 0;
  }

  .email:before{
    content: "\f003";
    color: $text-light;
    font-family: 'FontAwesome';
    padding-right: rem-calc(6);
  }

  .address:before{
    content: "\f041";
    color: $text-light;
    font-family: 'FontAwesome';
    padding-right: rem-calc(6);
  }

  .alert-box {
    margin-bottom: rem-calc(24);
  }
}

.dashboard-items {
  margin-left: 0;

  li {
    border-bottom: 1px solid $border;
    clear: both;
    display: block;
    list-style-type: none;
    margin-bottom: rem-calc(12);
    padding-bottom: rem-calc(12);

    .card-product {
      border: 5px solid white;
      box-shadow: 0 4px 5px 0 rgba(0,0,0,.1),0 2px 5px 0 transparent;
      display: inline-block;
      height: 200px;
      margin: rem-calc(12) rem-calc(24) 0 0;
      overflow: hidden;
      padding-top: 0;
      width: 260px;

      .product-bg {
        background-size: cover;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        height: 100%;
        width: 100%;
        z-index: 1;
      }

      img {
        position: absolute;
        z-index: 2;
      }

      .product {
        height: 100%;
        position: relative;
        width: 100%;

        .gradient {
          background: image-url('gradient.png');
          height: 190px;
          position: absolute;
          top: 0;
          width: 260px;
          z-index: 2;
        }
      }
    }

    .caption {
      color: #222;
      display: inline-block;
      margin-top: rem-calc(24);
      max-width: rem-calc(500);
      vertical-align: top;

      .product-name {
        color: $brand;
        display: block;
        font-weight: bold;
      }

      .price {
        font-weight: bold;
      }
    }
  }
}

// 12. Messages
// - - - - - - - - - - - - - - - - - - - - - - - - -

.inbox {
  background: white;
  margin-bottom: rem-calc(48);
  margin-top: rem-calc(24);
  padding-bottom: rem-calc(24);
  padding-top: rem-calc(24);

  h1 {
    font-size: rem-calc(24);
    font-weight: bold;
  }

  h2 {
    color: $brand;
    font-size: rem-calc(18);
    font-weight: bold;
    margin-bottom: rem-calc(48);
  }

  p {
    margin-bottom: 0;
  }

  .message-content {

    a {
      text-decoration: underline;

      &.label {
        text-decoration: none;
        font-size: rem-calc(18);
      }
    }
  }

  .message {
    border-bottom: 1px solid $border;
    margin: 0 rem-calc(12);
    padding: rem-calc(24) 0;
  }

  .bubble-arrow-left, .bubble-arrow-right {
    position: relative;
    min-height: 3em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 0.75em 0.75em 0em 0.75em;
    background: #e8e8e8;
  }

  .bubble-success {
    background: $success-bg;
    color: $success-color;
  }

  .bubble-alert {
    background: $alert-bg;
    color: $alert-color;

    &:after {
      border: solid $alert-bg;
    }
  }

  .bubble-arrow-left:after, .bubble-arrow-right:after {
    top: 1.5em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 0.375em;
  }

  .bubble-arrow-left:after {
    right: 100%;
    border-right-color: #e8e8e8;
    margin-top: -0.375em;
  }

  .bubble-arrow-right:after {
    left: 100%;
    border-left-color: #e8e8e8;
    margin-top: -0.375em;
  }

  .avatar-left, .avatar-right {
    position: absolute;
    top: rem-calc(48);
    width: 3em;
    height: 3em;
  }

  .avatar-left {
    left: rem-calc(12);
  }

  .avatar-right {
    right: rem-calc(12);
  }

  .time-ago-left {
    text-align: left;
  }

  .time-ago-right {
    text-align: right;
  }

  .sender {
    display: inline-block;
    line-height: rem-calc(60);
  }

  .title {
    font-weight: bold;
  }

  .summary {
    padding-top: rem-calc(6);
  }

  .message-info {
    display: inline-block;
    padding-left: rem-calc(12);
    vertical-align: middle;

    .user {
      color: $brand;
      font-weight: bold;
    }

    .time {
      color: $text-light;
      font-size: rem-calc(13);
      font-weight: normal;
    }
  }

  .conversation-container {
    padding: 0 60px;
  }

  .conversation-info {
    padding: rem-calc(24) 0;

    .user {
      color: $brand;
      font-weight: bold;
    }

    .time {
      color: $text-light;
      font-size: rem-calc(13);
      font-weight: normal;
    }
  }
}


input.pick-date[readonly] {
  background: #fff;
}

.infowindow {

  a {
    background-size: cover;
    background-position: center center;
    display: block;
    padding-top: 150px;
    position: relative;
    width: 300px;

    .card-footer {
      background: rgba(0, 0, 0, .6);
      padding: 5px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    p {
      color: white;
      margin: 0;

      &.item-name {
        font-size: rem-calc(18px);
        font-weight: bold;
      }

      &.prices {
        font-size: rem-calc(14px);
      }
    }
  }
}