// Table of Contents
//
// 01. Fonts
// 02. Colors
// 03. Forms
// 04. Alerts
// 05. Responsive
//

// 01. Fonts
// - - - - - - - - - - - - - - - - - - - - - - - - -

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$line-height: 24px;

// 02. Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -


//$brand:             #764B8E; // rgba (118, 75, 142, 1)
// $brand:             #E95E41; // rgba (118, 75, 142, 1)
//$brand-dark:        #4D315C; // rgba (77, 49, 92, 1)
// $brand-dark:        #B3DFD9; // rgba (77, 49, 92, 1)
$brand:             #5ed3d0; // 
//$brand-dark:        #4D315C; // rgba (77, 49, 92, 1)
$brand-dark:        #6DB3B6; // rgba (77, 49, 92, 1)
$topbar:			#B3DFD9;
$body:              #FFFFFF;
$wrapper:           #EDEFED;
$border:            #BEC3C4;
$footer:            #262626;

$text:              #141517;
$text-medium:       #999999;
$text-light:        #7A8486;

$link:              $brand;
$link-hover:        $brand-dark;

// 03. Forms
// - - - - - - - - - - - - - - - - - - - - - - - - -

$input-bg:          #F8F8F8;

// 04. Alerts
// - - - - - - - - - - - - - - - - - - - - - - - - -

$success-bg:        #DFF0D8;
$success-border:    #D6E9C6;
$success-color:     #3C763D;

$info-bg:           #D9EDF7;
$info-border:       #BCE8F1;
$info-color:        #31708F;

$warning-bg:        #FCF8E3;
$warning-border:    #FAEBCC;
$warning-color:     #8A6D3B;

$alert-bg:          #F2DEDE;
$alert-border:      #EBCCD1;
$alert-color:       #A94442;

// 05. Responsive
// - - - - - - - - - - - - - - - - - - - - - - - - -

$small:             em-calc(480);
$small-breakpoint:  em-calc(640);
$medium-breakpoint: em-calc(1024);
$large-breakpoint:  em-calc(1440);
$xlarge-breakpoint: em-calc(1920);

$small-range:   (0, $small-breakpoint);
$medium-range:  ($small-breakpoint  + em-calc(1), $medium-breakpoint);
$large-range:   ($medium-breakpoint + em-calc(1), $large-breakpoint);
$xlarge-range:  ($large-breakpoint  + em-calc(1), $xlarge-breakpoint);
$xxlarge-range: ($xlarge-breakpoint + em-calc(1), em-calc(99999999));
