<footer class="footer row-full">
  <div class="row">
    <div class="small-12 medium-3 column copyright">
      <span class="logo"><strong>Wavyy</strong></span><br>
      <p><%= t("footer.rights") %></p>

      <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown"><%= t("header.language") %></button><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
        <% I18n.available_locales.each do |locale| %>
          <li><%= link_to t("header.language", locale: locale), change_locale_path(locale: locale) %></li>
          <% end %>
      </ul>

    </div>
    <div class="small-12 medium-3 column">
      <h3><%= t("footer.help_title") %></h3>
      <ul>
        <li><%= link_to t("footer.faq"), faq_path %></li>
        <li><%= link_to t("footer.how_it_works"), how_it_works_path %></li>
        <li><%= link_to t("footer.trust"), trust_and_safety_path %></li>
      </ul>
    </div>
    <div class="small-12 medium-3 column">
      <h3><%= t("footer.about_title") %></h3>
      <ul>
        <li><%= link_to t("footer.about_us"), about_us_path %></li>
        <li><%= link_to t("footer.privacy"), privacy_policy_path %></li>
        <li><%= link_to t("footer.terms"), terms_of_use_path %></li>
        <li><%= link_to t("footer.contact_us"), contact_us_path %></li>
      </ul>
    </div>
    <div class="small-12 medium-3 column">
      <h3><%= t("footer.connect_title") %></h3>
      <ul>
        <!-- <li><%= link_to t("footer.twitter"), "#" %></li> -->
        <!-- <li><%= link_to t("footer.instagram"), "#" %></li> -->
        <li><%= link_to t("footer.facebook"), "https://facebook.com/wavyycommunity" %></li>
      </ul>
    </div>
  </div>
</footer>

<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('5598-103-10-5654');/*]]>*/</script><noscript><a href="https://www.olark.com/site/5598-103-10-5654/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70968488-1', 'auto');
  ga('send', 'pageview');

</script>