<nav class="top-bar <%= 'top-bar-home' if current_page?(root_path) || current_page?('/users/sign_in') || current_page?('/users/sign_up') %>" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
      <%= link_to root_path do %>
        <%= image_tag 'logo_sharemad.png', alt: 'ShareMad logo' %>
        <span class="logo"><%= t('brand') %></span>
      <% end %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span><%= t('header.menu') %></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><%= link_to t('header.explore'), searches_path %></li>
      <li><%= link_to t('header.list_an_item'), new_listing_path, class: 'button-list' %></li>
      <li><%= link_to t('header.messages'), conversations_path %></li>
      <li class="has-dropdown">
        <%= link_to "#", class: "user-avatar" do %>
          <%= t("header.profile") %>
        <% end %>
        <ul class="dropdown">
          <li><%= link_to t('header.dashboard'), dashboard_path %></li>
          <li><%= link_to t("header.sign_out"), destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
