<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
      <%= link_to root_path do %>
        <%= image_tag 'logo_sharemad.png', alt: 'ShareMad logo' %>
        <span class="logo"><%= t('brand') %></span>
      <% end %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><%= link_to t('header.explore'), searches_path %></li>
      <li><%= link_to t('header.how_it_works'), how_it_works_path %></li>
      <li><%= link_to t("header.sign_up"), new_user_registration_path %></li>
      <li><%= link_to t("header.sign_in"), new_user_session_path %></li>
      <li><%= link_to t('header.list_an_item'), new_user_session_path, class: 'button-list margin-right' %></li>
    </ul>
  </section>
</nav>
