<div class="row" style="max-width:500px;">

	<h3><%= t("mango_pay_accounts.new") %></h3>

	<div class="small-12 columns">
		<%= form_for @account, url: mango_pay_accounts_path do |f| %>
			<% @account.errors[:base].each do |error| %>
				<small class="error"><%= error %></small>
			<% end %>

			<%= hidden_field_tag :next_step, @next_step %>
			<%= f.text_field :first_name, required: true %>
			<%= f.text_field :last_name, required: true %>
			<%= f.date_select :birthday, required: true, start_year: 1900 %>

		    <% countries = ISO3166::Country.all.map do |country|
		    		[country.name, country.alpha2]
		    	end.sort -%>
		    <%= f.select :nationality,
		    	options_for_select(countries, @account.nationality),
		    		include_blank: true,
		    		required: true %>
		    <%= f.select :country_of_residence,
		    	options_for_select(countries, @account.country_of_residence),
		    		include_blank: true,
		    		required: true %>

			<%= f.submit %>
		<% end %>
	</div>
</div>