<%= t('mailers.reservation_notifier.accepted_creator.body',
	creator: @reservation.creator.name,
	owner: @reservation.owner.name,
	from: l(@reservation.start_date, format: :long),
	to: l(@reservation.end_date, format: :long),
	item: @reservation.listing.name,
	dashboard_url: dashboard_url) %>