<%= t('mailers.reservation_notifier.paid_creator.body',
	creator: @reservation.creator.name,
	owner: @reservation.owner.name,
	from: l(@reservation.start_date),
	to: l(@reservation.end_date),
	item: @reservation.listing.name,
	description: @reservation.listing.description,
	amount_with_currency: number_to_currency(@reservation.amount),
	conversation_url: conversation_url(@reservation.conversation)) %>