<%= t('mailers.reservation_notifier.rejected_creator.body',
	owner: @reservation.owner.name,
	creator: @reservation.creator.name,
	item: @reservation.listing.name,
	from: l(@reservation.start_date, format: :long),
	to: l(@reservation.end_date, format: :long),
	searches_url: searches_url) %>