<div class="row message">
	<div class="small-12 medium-3 columns">
		<%= image_tag avatar_url, size: '60x60', class: 'circle' %>
		<div class="message-info">
			<p class="user"><%= originator_name  %></p>
			<p class="time"><%= time_ago_in_words last_message.created_at %></p>
		</div>
	</div>

	<div class="small-12 medium-9 columns summary">
		<%= link_to_conversation %>
		<p><%= subject %></p>
	</div>
</div>