<h3><%= link_to listing.name, listing_path(listing) %></h3>
<% if rejected? %>
	<div class="label alert"><%= t("reservation.reject") %></div>
	<br />
	<p>
		<%= I18n.t("reservation_message.rejected_creator",
			item: listing.name, from: l(start_date, format: :long),
			to: l(end_date, format: :long)) %>
	</p>
<% else %>
	<p><%= l start_date, format: :long %> - <%= l end_date, format: :long %></p>
	<p><%= t("dashboard.reservations.amount_paid") %>: <%= number_to_currency amount %></p>
<% end %>
