<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Wavyy" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>

  <body id="<%= controller_name %>-<%= action_name %>">

  <div class="wrapper">

    <% if user_signed_in? %>
      <%= render 'header' %>
    <% else %>
      <%= render 'header_public' %>
    <% end %>

    <%= display_flash_messages %>

    <%= yield %>

    <div class="push"></div>
  </div>

  <div class="footer">
    <%= render 'footer' %>
  </div>

</body>
</html>
