<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<table>
  		<tr>
  			<td>
  				<p><%= I18n.t("mailers.greeting", user: @user.name) %></p>
  				<%= yield %>
  				<p><%= I18n.t("mailers.footer") %></p>
  			</td>
  		<tr>
    </table>
  </body>
</html>
