<script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

<div class="row pages margin-top">
  <div class="small-12 medium-offset-2 medium-8 large-offset-3 large-6 column">

    <%= link_to t('dashboard.profile.back_html'), dashboard_path %>

    <h2><%= t('dashboard.profile.edit_title') %></h2>

    <%= cell('users/edit', resource) %>
    <br><br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <%= f.hidden_field :lat, :"data-geo" => :lat %>
      <%= f.hidden_field :lng, :"data-geo" => :lng %>
      <%= f.hidden_field :postal_code, :"data-geo" => :postal_code %>

      <fieldset>
        <legend><%= t('dashboard.profile.personal_data') %></legend>
        <%= f.email_field :email, readonly: true, disabled: true %>
        <%= f.text_field :name %>
        <%= f.text_field :address, placeholder: t("listings.new.location_placeholder") %>

        <%= f.fields_for :image_data,
        (resource.image_data || resource.build_image_data) do |image_data| %>

          <% options = {label: t("listings.new.choose_image"),
            label_options: {class: 'hint' } } -%>
          <% options[:class] = 'error' if resource.image_data.errors.any? -%>

          <%= image_data.file_field :raw_data, {options: options} %>
          <% if resource.image_data.errors.any? %>
            <% resource.image_data.errors[:data].each do |error| %>
              <span class="error"><%= error %></span>
            <% end %>
          <% end %>
        <% end %>

        <% if resource.provider.blank? %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div><%= t('dashboard.waiting_confirmation') %>&nbsp;<%= resource.unconfirmed_email %></div>
          <% end %>

          <%= f.password_field :password, autocomplete: "off" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>

          <div class="field">
            <%= f.label :current_password %> 
            <%= f.password_field :current_password, autocomplete: "off", label: false %>
            <i><%= t('dashboard.current_password_confirm') %></i>
          </div>
        <% end %>
      </fieldset>

      <fieldset>
        <legend><%= t('dashboard.profile.bank_details') %></legend>

        <% resource.build_bank_account if resource.bank_account.nil? %>
        <%= f.fields_for :bank_account, resource.bank_account do |bank_account| %>
          <%= bank_account.text_field :iban %>
          <%= bank_account.text_field :bic %>
          <%= bank_account.text_field :city %>
          <% countries = ISO3166::Country.all.map do |country|
              [country.name, country.alpha2]
            end.sort -%>
          <%= bank_account.select :country,
            options_for_select(countries, resource.bank_account.country),
              {include_blank: true} %>
        <% end %>
      </fieldset>

      <%= f.submit t('dashboard.profile.submit'), class: "button radius expand" %>
    <% end %>
  </div>
</div>

<% if false %>
  <h3><%= t('dashboard.cancel_account') %></h3>

  <p><%= t('dashboard.unhappy') %>&nbsp;<%= button_to t('dashboard.cancel_account'), registration_path(resource_name), data: { confirm: t('dashboard.are_you_sure') }, method: :delete %></p>

  <%= link_to t('dashboard.back'), :back %>
<% end %>

<script>
  jQuery(document).ready(function($){
    $("#user_address").geocomplete({
      details: 'form',
      detailsAttribute: 'data-geo'
    });
  });
</script>
