<div class="form-page">
  <div class="row">
    <div class="small-12 medium-6 large-5 column small-centered">
      <div class="panel">

        <div class="title">
          <h1><%= t("sign_up.title") %></h1>
          <h2><%= t("sign_up.info") %></h2>
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <%= f.text_field :name, placeholder: true %>
          <%= f.email_field :email, placeholder: true %>
          <%= f.password_field :password, placeholder: true %>

          <em><%= t("sign_up.optional") %></em>
          <%= f.text_field :phone, autofocus: true  %>

          <%= f.submit nil, class: 'button round expand button-secondary' %>

          <p class="text-center agree">
            <%= t("sign_up.agree",
              terms: link_to( t("sign_up.terms"), terms_of_use_path),
              privacy: link_to( t("sign_up.privacy"), privacy_policy_path)).html_safe
            %>
          </p>

          <p class="text-center"><%= t("sign_up.or") %></p>
          <%= link_to t("sign_up.facebook"), user_omniauth_authorize_path(provider: 'facebook'), class: "button round expand button-facebook" %>
        <% end %>

        <div class="extra text-center">
          <%= t("sign_up.new",
            sign_in: link_to( t("sign_up.sign_in"), "/users/sign_in")).html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>

